@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 123, 238);
    font: normal 15pt Arial;
}

header {
    margin: 10px;
    color: white;
    text-align: center;
}

section {
    width: 500px;
    padding: 15px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.267);
}

input#txtano {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

input#botao-verificar {
    padding: 5px;
}

.botao:hover {
    cursor: pointer;
}

footer {
    margin: 10px;
    color: white;
    text-align: center;
}